<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (productsInCart.length > 0) { %>
            <div><%= productsInCart.length %></div>
            <div class="grid">
                <% for (let product of productsInCart) { %>
                    <% if (product) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                            <h1><%= product.cartItem.quantity %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                            <p class="product__price"><%= product.count %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/cart/change-count?productId=<%= product.id %>&increment=1" class="btn">Increment</a>
                            <a href="/cart/change-count?productId=<%= product.id %>&increment=-1" class="btn">Decrement</a>

                        </div>
                        <div>
                            <form action="/cart/delete-product" method="POST">
                                <input type="hidden" name="productId" value="<%= product.id %>">
                                <button type="submit" class="btn">Delete product from Cart</button>
                            </form>

                        </div>
                    </article>
                    <% } %>
                <% } %>
            </div>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
            
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>   